# Content with notebooks

You can also create content with Jupyter Notebooks. This means that you can include
code blocks and their outputs in your book.

## Markdown + notebooks

As it is markdown, you can embed images, HTML, etc into your posts!

![](https://myst-parser.readthedocs.io/en/latest/_static/logo-wide.svg)

You can also $add_{math}$ and

$$
math^{blocks}
$$

or

$$
\begin{aligned}
\mbox{mean} la_{tex} \\ \\
math blocks
\end{aligned}
$$

But make sure you \$Escape \$your \$dollar signs \$you want to keep!

## MyST markdown

MyST markdown works in Jupyter Notebooks as well. For more information about MyST markdown, check
out [the MyST guide in Jupyter Book](https://jupyterbook.org/content/myst.html),
or see [the MyST markdown documentation](https://myst-parser.readthedocs.io/en/latest/).

## Code blocks and outputs

Jupyter Book will also embed your code blocks and output in your book.
For example, here's some sample Matplotlib code:

In [1]:
# Tugas 1

# Tugas 1

In [2]:
from matplotlib import rcParams, cycler
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.ion()

In [3]:
dataset = "https://raw.githubusercontent.com/wahyuarilsaputra/dataset/main/ds_salaries.csv"
data = pd.read_csv(dataset)

In [4]:
data.head(4)

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S

In [5]:
def diss (x,y):
  a = 2
  b = 0
  for col in ['salary','salary_in_usd']:
    if data[col][x] == data[col][y]:
      b+=1
  return (a-b)/a

In [6]:
print(diss(1,1))
print(diss(1,2))
print(diss(4,4))

0.0
1.0
0.0

In [7]:
# Tugas 2

# DISKRITISASI

In [8]:
dataset = "https://raw.githubusercontent.com/wahyuarilsaputra/dataset/main/IRIS.csv"
data = pd.read_csv(dataset)

In [9]:
data.head(150)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
from sklearn.preprocessing import KBinsDiscretizer

In [11]:
sepalLength = data.sepal_length
sepalWidth = data.sepal_width
petalLength = data.petal_length
petalWidth = data.petal_width

In [12]:
aa = sepalLength.values.reshape(-1,1)
ab = sepalLength.values.reshape(-1,1)
ac = sepalLength.values.reshape(-1,1)
ad = sepalLength.values.reshape(-1,1)

In [13]:
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')

In [14]:
est.fit(aa)
est.fit(ab)
est.fit(ac)
est.fit(ad)

KBinsDiscretizer(encode='ordinal', n_bins=4, strategy='uniform')

In [15]:
KBinsDiscretizer(...)

KBinsDiscretizer(n_bins=Ellipsis)

In [16]:
xa = est.transform(aa)
xb = est.transform(ab)
xc = est.transform(ac)
xd = est.transform(ad)

In [17]:
data = pd.DataFrame(xa)

In [18]:
data

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
145  2.0
146  2.0
147  2.0
148  2.0
149  1.0

[150 rows x 1 columns]

In [19]:
data.to_csv('out.csv')

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)