# Content with notebooks

You can also create content with Jupyter Notebooks. This means that you can include
code blocks and their outputs in your book.

## Markdown + notebooks

As it is markdown, you can embed images, HTML, etc into your posts!

![](https://myst-parser.readthedocs.io/en/latest/_static/logo-wide.svg)

You can also $add_{math}$ and

$$
math^{blocks}
$$

or

$$
\begin{aligned}
\mbox{mean} la_{tex} \\ \\
math blocks
\end{aligned}
$$

But make sure you \$Escape \$your \$dollar signs \$you want to keep!

## MyST markdown

MyST markdown works in Jupyter Notebooks as well. For more information about MyST markdown, check
out [the MyST guide in Jupyter Book](https://jupyterbook.org/content/myst.html),
or see [the MyST markdown documentation](https://myst-parser.readthedocs.io/en/latest/).

## Code blocks and outputs

Jupyter Book will also embed your code blocks and output in your book.
For example, here's some sample Matplotlib code:

In [ ]:
# Tugas 1

# Tugas 1

In [1]:
from matplotlib import rcParams, cycler
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.ion()

In [2]:
dataset = "https://raw.githubusercontent.com/wahyuarilsaputra/dataset/main/ds_salaries.csv"
data = pd.read_csv(dataset)

In [3]:
data.head(4)

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S

In [4]:
def diss (x,y):
  a = 2
  b = 0
  for col in ['salary','salary_in_usd']:
    if data[col][x] == data[col][y]:
      b+=1
  return (a-b)/a

In [5]:
print(diss(1,1))
print(diss(1,2))
print(diss(4,4))

0.0
1.0
0.0

In [6]:
# Tugas 2

# DISKRITISASI

In [7]:
dataset = "https://raw.githubusercontent.com/wahyuarilsaputra/dataset/main/IRIS.csv"
data = pd.read_csv(dataset)

In [8]:
data.head(150)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
from sklearn.preprocessing import KBinsDiscretizer

In [46]:
sepalLength = data.sepal_length
sepalWidth = data.sepal_width
petalLength = data.petal_length
petalWidth = data.petal_width
spesies = data.species

In [47]:
aa = sepalLength.values.reshape(-1,1)
ab = sepalWidth.values.reshape(-1,1)
ac = petalLength.values.reshape(-1,1)
ad = petalWidth.values.reshape(-1,1)
sp = spesies.values.reshape(-1,1)

In [12]:
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')

In [49]:
est.fit(aa)
est.fit(ab)
est.fit(ac)
est.fit(ad)

KBinsDiscretizer(encode='ordinal', n_bins=4, strategy='uniform')

In [50]:
KBinsDiscretizer(...)

KBinsDiscretizer(n_bins=Ellipsis)

In [51]:
xa = est.transform(aa)
xb = est.transform(ab)
xc = est.transform(ac)
xd = est.transform(ad)

In [52]:
dataa1 = {'sepal_length':xa}
dataa2 = {'sepal_length':xb}
dataa3 = {'sepal_length':xc}
dataa4 = {'sepal_length':xd}

In [55]:
fa = pd.DataFrame(xa,columns=['sepal_length'])
fb = pd.DataFrame(xb,columns=['sepal_width'])
fc = pd.DataFrame(xc,columns=['tepal_length'])
fd = pd.DataFrame(xd,columns=['tepal_width'])
spe = pd.DataFrame(sp,columns=['Species'])

In [58]:
datalist = [fa, fb, fc, fd, spe]
pd.concat(datalist, axis=1)

     sepal_length  sepal_width  tepal_length  tepal_width         Species
0             3.0          3.0           2.0          0.0     Iris-setosa
1             3.0          3.0           2.0          0.0     Iris-setosa
2             3.0          3.0           2.0          0.0     Iris-setosa
3             3.0          3.0           2.0          0.0     Iris-setosa
4             3.0          3.0           2.0          0.0     Iris-setosa
..            ...          ...           ...          ...             ...
145           3.0          3.0           3.0          3.0  Iris-virginica
146           3.0          3.0           3.0          3.0  Iris-virginica
147           3.0          3.0           3.0          3.0  Iris-virginica
148           3.0          3.0           3.0          3.0  Iris-virginica
149           3.0          3.0           3.0          2.0  Iris-virginica

[150 rows x 5 columns]

In [ ]:
datalist.to_csv('out.csv')

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)